#s4 {
    background-color: #1D1D1B;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 25px;

}


}

#button:active {
    box-shadow: 0 0 0 0;
    margin-top: 0.3em;
}

h3 {
    font-size: 17px;
    font-weight: 500;
}

h1 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.8rem;
    color: #EBEBED;

    ;

}

/*
h1:hover {
    color: #BB9478;
    transition: color .4s linear;
}
*/
