#s2 {
    background-color: #EBEBED;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items:flex-start;
    padding: 25px;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 10vh;
}

.textkris {
    width: 40%;
    max-width: 1200px;
    font-size: 1.25vw;
    padding-bottom: 6em;
    padding-left: 6em;
}

.krispic {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(5px);
    width: 65%;
    max-height: 100vh;

}
    
}

.krispic svg {
    object-fit: contain;
}

h2 {
    font-size: 3em;
    margin-bottom: .35em;
    line-height: 1;
}

.s2-list {
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 3em;
    list-style-position: inside;
}

.new-quote-button {
    position: absolute;
    color: #ebebed;
    background: #1D1D1B;
    border-radius: 100px;
    padding: 10px 45px;
    font-size: 1.3em;
    letter-spacing: .15em;
    text-decoration: none;
}

.new-quote-button a {
    color: #ebebed;
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-aspect-ratio:16/10) and (max-width:820px) {

    .textkris {
        font-size: 1.6vw;
    }
}

@media screen and (orientation:portrait) {

    #s2 {
        justify-content: flex-start;
        align-items: flex-start;
            padding: 25px;
    }

    .textkris {
        width: 100%;
        font-size: 1.85vh;
        padding-left: 0;
    }

    .krispic {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(5px);
        width: 90%;
    }
}
